
h1 {
    font-family: 'Andele Mono', monospace;
    font-style: italic;
    font-size: 20px;
    font-variant: small-caps;

}

p{
    font-style: oblique;
    font-size: 110%;
    font-weight: bold;
    color: green;
    direction: ltr;
    line-height: 30px;
    text-align: center;
    text-decoration: dotted;
    text-indent: 50px;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
    word-spacing: 30px;
}
